# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
collections
requests

# data science
numpy
pandas
scikit-learn
nltk
spacy
gensim
unidecode
matplotlib
wordcloud
plotly
pyLDAvis

# utilities
memoized-property
streamlit
