# packaging
pip>=9
setuptools>=26
collections
requests
io

# data science
numpy
pandas
scikit-learn
nltk
spacy
gensim
unidecode
matplotlib
wordcloud
plotly
pyLDAvis

# utilities
memoized-property
streamlit
